#content{
    width: 100%;
    display: flex;
}

.profil{
    text-align: right;
    float: right;
    padding-left: auto;
    padding-right: 16px;
}

.dashSidebar{
    width: 262px;
    min-height: 869px;
    background-color: #003B43;
    color: #ffffff;
}

.dashPad{
    padding-left: 20px;
    padding-top: 20px;
}

#wrapper{
    width:100%;
}
