*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e4f1f0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color: #004953;
}

#navbar{
    width: 100%;
    list-style: none;
    font-size: 25px;
    padding-left: 278px;
    padding-top: 13px;
}

.navbar_link{
    float: left;
}

#navbar a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
    float: left;
}

.profil{
    text-align: right;
    float: right;
    padding-left: auto;
    padding-right: 16px;
}

#content{
    width: 100%;
    display: flex;
}

.sidebar{
    width: 200px;
    min-height: 869px;
    background-color: #003B43;
}

.steps{
    width: 100%;
    list-style: none;
    font-size: 20px;
    text-align: center;
    padding-top: 140px;
}

.steps a{
    margin: 0 auto;
    text-decoration: none;
    color: white;
}

.steps_link{
    padding: 16px;
}

.registry2{
    width: 100%;
    padding-top: 32px;
    background-color: #E4F1F0;
}

#section1 {
    width: 1226px;
    padding-top: 32px;
    background-color: #E4F1F0;
    display: flex;
    padding-left: 129px;
}

h2 {
    font-size: 20px;
}
.gender{
    height: 58px;
    padding-right: 129px;
}

.drop_down{
    width: 150px;
    height: 30px;
    border: solid 1px black;
}

.search{
    width: 150px;
    height: 30px;
    border: solid 1px black;
}

.inquiry{
    height: 58px;
    padding-right: 129px;
}

.conversation_time{
    height: 58px;
}

#section2 {
    width: 1226px;
    padding-top: 32px;
    background-color: #E4F1F0;
    padding-left: 129px;
}

.subject_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    column-gap: 64px;
    row-gap: 8px;
}

.info {
    height: 16px;
    width: 16px;
}

.buttons_box {
    width: 100%;
}

.buttons {
    float: right;
width: 398px;
}

#back_button {
    height: 30px;
    width: 74px;
    font-size: 20px;
    color: white;
    background-color: black;
    margin-right: 130px;
}

#back_button a {
    text-decoration: none;
    color: white;
}

#registrate {
    height: 45px;
    width: 154px;
    font-size: 20px;
    color: white;
    background-color: #22973A;
    border: none;
}

#registrate a {
    text-decoration: none;
    color: white;
}
